{% extends 'baseBackend.html.twig' %}

{% block title %}Hello ProveedorController!{% endblock %}

{% block body %}
    <div class="grid min-h-screen grid-cols-1 content-start items-start lg:grid-cols-[auto,minmax(0,1fr)]">
        <div class="fixed left-0 top-0 z-40 hidden h-full overflow-hidden border-r border-stroke-soft-200 bg-bg-white-0 transition-all duration-300 ease-out lg:block w-[272px]">
        
        </div>
        <div class="mx-auto flex w-full max-w-[1360px] flex-1 flex-col">
            
        </div>
    </div>

{% endblock %}
