{% extends 'baseBackend.html.twig' %}

{% block title %}Hello ProveedorController!{% endblock %}

{% block body %}
    <div class="grid min-h-screen grid-cols-1 content-start items-start lg:grid-cols-[auto,minmax(0,1fr)]">
        <div class="fixed left-0 top-0 z-40 hidden h-full overflow-hidden border-r border-stroke-soft-200 bg-bg-white-0 transition-all duration-300 ease-out lg:block w-[272px]">
            <div class="flex h-full w-[272px] min-w-[272px] flex-col overflow-auto">
                <div class="lg:p-3">
                    <button
                        type="button"
                        id="radix-:r0:"
                        aria-haspopup="menu"
                        aria-expanded="false"
                        data-state="closed"
                        class="flex w-full items-center gap-3 whitespace-nowrap p-3 text-left outline-none focus:outline-none transition-all duration-200 ease-out"
                    >
                        <img src="/images/placeholder/synergy.svg" alt="" class="size-10" />
                        <div class="flex w-[172px] shrink-0 items-center gap-3" data-hide-collapsed="true">
                            <div class="flex-1 space-y-1">
                                <div class="text-label-sm">Synergy</div>
                                <div class="text-paragraph-xs text-text-sub-600">HR Management</div>
                            </div>
                            <div class="flex size-6 items-center justify-center rounded-md border border-stroke-soft-200 bg-bg-white-0 shadow-regular-xs">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="remixicon size-5 text-text-sub-600">
                                    <path
                                        d="M18.2072 9.0428 12.0001 2.83569 5.793 9.0428 7.20721 10.457 12.0001 5.66412 16.793 10.457 18.2072 9.0428ZM5.79285 14.9572 12 21.1643 18.2071 14.9572 16.7928 13.543 12 18.3359 7.20706 13.543 5.79285 14.9572Z"
                                    ></path>
                                </svg>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="px-5">
                    <div
                        role="separator"
                        class="relative flex w-full items-center h-0 before:absolute before:left-0 before:top-1/2 before:h-px before:w-full before:-translate-y-1/2 before:bg-stroke-soft-200 transition-all duration-200 ease-out"
                    ></div>
                </div>
                <div class="flex flex-1 flex-col gap-5 pb-4 pt-5 px-5"></div>
            </div>
        </div>
        <div class="shrink-0 w-[272px]"></div>
        <div class="mx-auto flex w-full max-w-[1360px] flex-1 flex-col">
            sd
        </div>
    </div>

{% endblock %}
