{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello ProveedorController!{% endblock %}

{% block body %}
    {% embed 'includes/headerDashboard.html.twig' %}
        {% block left_teaser %}
            Panel
        {% endblock %}
        {% block right_teaser %}
            Some content for the right teaser box
        {% endblock %}
    {% endembed %}

    <div class="px-4 py-5 lg:px-8 ">
       <div class="bg-white px-4 py-5 rounded-lg">
         asdadsas
       </div>
    </div>
    


{% endblock %}
