<header class="flex min-h-[88px] flex-col gap-4 px-4 py-5 md:flex-row md:items-center md:justify-between md:gap-3 lg:px-8">
    <div class="flex flex-1 gap-4 lg:gap-3.5">
       {% block left_teaser %}

       {% endblock %}
    </div>
    <div class="flex items-center gap-3">
        {% block right_teaser %}

        {% endblock %}
    </div>
</header>
