<div class="fixed left-0 top-0 z-40 hidden h-full overflow-hidden border-r border-stroke-soft-200 bg-bg-white-0 transition-all duration-300 ease-out lg:block w-[272px]">
            <div class="flex h-full w-[272px] min-w-[272px] flex-col overflow-auto">
                <div class="lg:p-3">
                    <button
                        type="button"
                        id="radix-:r0:"
                        aria-haspopup="menu"
                        aria-expanded="false"
                        data-state="closed"
                        class="flex w-full items-center gap-3 whitespace-nowrap p-3 text-left outline-none focus:outline-none transition-all duration-200 ease-out"
                    >
                        <img src="/images/placeholder/synergy.svg" alt="" class="size-10" />
                        <div class="flex w-[172px] shrink-0 items-center gap-3" data-hide-collapsed="true">
                            <div class="flex-1 space-y-1">
                                <div class="text-label-sm">Admin2 Bookforce</div>
                                <div class="text-paragraph-xs text-text-sub-600">Entrekids</div>
                            </div>
                            <div class="flex size-6 items-center justify-center rounded-md border border-stroke-soft-200 bg-bg-white-0 shadow-regular-xs">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="remixicon size-5 text-text-sub-600">
                                    <path
                                        d="M18.2072 9.0428 12.0001 2.83569 5.793 9.0428 7.20721 10.457 12.0001 5.66412 16.793 10.457 18.2072 9.0428ZM5.79285 14.9572 12 21.1643 18.2071 14.9572 16.7928 13.543 12 18.3359 7.20706 13.543 5.79285 14.9572Z"
                                    ></path>
                                </svg>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="px-5">
                    <div
                        role="separator"
                        class="relative flex w-full items-center h-0 before:absolute before:left-0 before:top-1/2 before:h-px before:w-full before:-translate-y-1/2 before:bg-stroke-soft-200 transition-all duration-200 ease-out"
                    ></div>
                </div>
                <div class="flex flex-1 flex-col gap-5 pb-4 pt-5 px-5">
                    <div class="space-y-2">
                        <div class="p-1 text-subheading-xs uppercase text-soft-400 font-black">Main</div>
                        <div class="space-y-1">
                            {#Panel #}
                            <a
                                aria-current="page"
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >
                                <div class="absolute top-1/2 h-5 w-1 origin-left -translate-y-1/2 rounded-r-full bg-primary-base transition duration-200 ease-out -left-5 scale-100"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="remixicon size-5 text-muted-400">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2 18c0-1.54 0-2.31.347-2.876c.194-.317.46-.583.777-.777C3.689 14 4.46 14 6 14s2.31 0 2.876.347c.317.194.583.46.777.777C10 15.689 10 16.46 10 18s0 2.31-.347 2.877c-.194.316-.46.582-.777.776C8.311 22 7.54 22 6 22s-2.31 0-2.876-.347a2.35 2.35 0 0 1-.777-.776C2 20.31 2 19.54 2 18m12 0c0-1.54 0-2.31.347-2.876c.194-.317.46-.583.777-.777C15.689 14 16.46 14 18 14s2.31 0 2.877.347c.316.194.582.46.776.777C22 15.689 22 16.46 22 18s0 2.31-.347 2.877a2.36 2.36 0 0 1-.776.776C20.31 22 19.54 22 18 22s-2.31 0-2.876-.347a2.35 2.35 0 0 1-.777-.776C14 20.31 14 19.54 14 18M2 6c0-1.54 0-2.31.347-2.876c.194-.317.46-.583.777-.777C3.689 2 4.46 2 6 2s2.31 0 2.876.347c.317.194.583.46.777.777C10 3.689 10 4.46 10 6s0 2.31-.347 2.876c-.194.317-.46.583-.777.777C8.311 10 7.54 10 6 10s-2.31 0-2.876-.347a2.35 2.35 0 0 1-.777-.777C2 8.311 2 7.54 2 6m12 0c0-1.54 0-2.31.347-2.876c.194-.317.46-.583.777-.777C15.689 2 16.46 2 18 2s2.31 0 2.877.347c.316.194.582.46.776.777C22 3.689 22 4.46 22 6s0 2.31-.347 2.876c-.194.317-.46.583-.776.777C20.31 10 19.54 10 18 10s-2.31 0-2.876-.347a2.35 2.35 0 0 1-.777-.777C14 8.311 14 7.54 14 6" color="currentColor"/></svg>
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Panel</div>
                                    
                                </div>
                            </a>
                            {#Actividades #}
                             <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >
                             
                                <svg xmlns="http://www.w3.org/2000/svg" class="text-muted-400 size-5" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 11c0-3.75 0-5.625.955-6.939A5 5 0 0 1 5.06 2.955C6.375 2 8.251 2 12 2s5.625 0 6.939.955a5 5 0 0 1 1.106 1.106C21 5.375 21 7.251 21 11v2c0 3.75 0 5.625-.955 6.939a5 5 0 0 1-1.106 1.106C17.625 22 15.749 22 12 22s-5.625 0-6.939-.955a5 5 0 0 1-1.106-1.106C3 18.625 3 16.749 3 13zm14-4H9m8 5h-3" color="currentColor"/></svg>
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Actividades</div>
                                    
                                </div>
                            </a>
                            {# Entradas #}
                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Entradas</div>
                                    
                                </div>
                            </a>

                             <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Productos</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Seguimiento de compras</div>
                                    
                                </div>
                            </a>
                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Despachos</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Liquidación experiencia</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Ver / Editar actividad</div>
                                    
                                </div>
                            </a>


                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Autorizaciones</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Usuario</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Balance</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Configurar tarifa</div>
                                    
                                </div>
                            </a>


                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Banners</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Staff</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Permisiones</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Promociones</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Códigos Externos</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Ordenar Actividades</div>
                                    
                                </div>
                            </a>


                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Cortesías</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Markets</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Devoluciones</div>
                                    
                                </div>
                            </a>

                            <a
                               
                                class="group relative flex items-center gap-2 whitespace-nowrap rounded-lg py-2 text-text-sub-600 hover:bg-bg-weak-50 transition duration-200 ease-out aria-[current=page]:bg-bg-weak-50 aria-disabled:pointer-events-none aria-disabled:opacity-50 w-full px-3"
                                href="/"
                            >   
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  class="text-muted-400 size-5" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 9.5V6C2 4.89543 2.89543 4 4 4H20C21.1046 4 22 4.89543 22 6V9.5C20.6193 9.5 19.5 10.6193 19.5 12C19.5 13.3807 20.6193 14.5 22 14.5V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V14.5C3.38071 14.5 4.5 13.3807 4.5 12C4.5 10.6193 3.38071 9.5 2 9.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9 4L9 20" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"/>
                                </svg>
                             
                               
                                <div class="flex w-[180px] shrink-0 items-center gap-2 pl-4 transition duration-300" data-hide-collapsed="true">
                                    <div class="flex-1 text-label-md text-muted-400">Clientes</div>
                                    
                                </div>
                            </a>
                            



                        </div>
                    </div>
                </div>
            </div>
        </div>